[submodule "tests/reference_figures/darwin/py3.5/mpl2.0"]
	path = tests/reference_figures/darwin/py3.5/mpl2.0
	url = https://github.com/Chilipp/psy-simple-references.git
	branch = darwin_py3.5_mpl2.0
